################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ExpenseTracker/.vs/ExpenseTracker
/ExpenseTracker/ExpenseTracker/obj
